/*SECTION-ABOUT*/

.about{
    background-color: black;
    padding: 8em 10em;
    
}
.pic2{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 0em 4em 0em 0em;
    padding: 0em;
    }

.txt-box{
    width: 23em;
}

a{font-weight:300; color:#fff; text-decoration:none; font-size: 14px;}
.centered{position:relative}
.h-button{background:#831a1a;padding: 10px 40px;text-align:center; border-radius: 10px;}
.h-button span{display:inline-block;min-width:.3em;transition:.25s cubic-bezier(0.5,-1,.5,2);opacity:0;transform:translate(0,-20px)}
.h-button:before{content:attr(data-text);position:absolute;width:100%;left:0;transition:.25s cubic-bezier(0.5,-1,.5,2);opacity:1;transform:translate(0,0)}
.h-button:focus:before,.h-button:hover:before{opacity:0;transform:translate(0,20px)}
.h-button:focus span,.h-button:hover span{opacity:1;transform:translate(0,0)}
.h-button:focus span:nth-child(1),.h-button:hover span:nth-child(1){transition-delay:.10s}
.h-button:focus span:nth-child(2),.h-button:hover span:nth-child(2){transition-delay:.10s}
.h-button:focus span:nth-child(3),.h-button:hover span:nth-child(3){transition-delay:.10s}
.h-button:focus span:nth-child(4),.h-button:hover span:nth-child(4){transition-delay:.10s}
.h-button:focus span:nth-child(5),.h-button:hover span:nth-child(5){transition-delay:.10s}
.h-button:focus span:nth-child(6),.h-button:hover span:nth-child(6){transition-delay:.10s}