.skill{
  background-color:#100f0f;
  padding:  8em;
}

/**** PROGRESS-BAR ****/
.progress-bar {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    height: 0.5em;
    width: 100%;
    margin: 0px 0px 10px 0px;         
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
  }
  
  .progress-bar span {
    display: inline-block;
    height: 80%;
    border-radius: 3px;
    transition: width .10s ease-in-out; 
    background-color: #831a1a; 
  }
 
  /**** SHINE ****/

  .shine span {
    position: relative;
  }
  
  .shine span::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f13c3c;
    border-radius: 3px;
    animation: animate-shine 2s ease-in-out infinite;             
  }
  
  @keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: 1;}
    100% {opacity: 0; width: 95%;}
  }


/****COLLAPSE****/

  .master-content{
    width: 30%;
    margin: 5em;
    
}
.content-bar{
transition: 0.5s ease-in-out;
overflow: hidden;
height: 300px;
}
.collapsed{
    height: 0;
}
