@import url("./about.css");


body{
    
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0em;
    background-color: black;
}

a{
    color: white;
    font-weight: 300;
    font-size: 14px;
}

h1{
    font-weight: 900;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

h2{
    margin: 0em;
}

h3{
    font-weight: 500;
}

p{
    font-weight: 300;
    font-size: 14px;
}

hr{
    width: 25%;
    color: #831a1a;
}

button{
    width: 10em;
    height: 3em;
    color: #831a1a;
    border-radius: 10px;
    border-style: none;

}

/* GENERAL STYLE INDIVIDUAL */


.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.align-vert{
align-items: center;
}

.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.center{
    justify-content: center;
}

.p_auto{
    padding: auto;
}


.txt-left{
    text-align: left;
}

.txt-center{
    text-align: center;
}

.marg-Bottom-4{
    margin-bottom: 4em;
}

.marg-Bottom-2{
    margin-bottom: 2em;
}



/*SECTION-HOME*/


.home{
    background: rgb(0,0,0);
    background: linear-gradient(315deg, rgba(0,0,0,1) 0%, rgb(34, 34, 34) 35%, #831a1a 100%);
    width: 100%;
    height: 25em;
    padding:  5em 0em 0em 0em;
}
.navheader a{
    margin: 10px;
    text-align: center;
    text-decoration: none;
    
}
.navheader a:hover {
    color: red;
}

nav{

justify-content: space-between;
padding: 1em 4em 0em 2em;

}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

    
    
}
.luna{
    margin: -0.4em 0em 0em 0em;
}

.icon{
width: 30px;
border-radius: 50%;
}

.logo{
    width: 200px;
}

.socialMedia{
 
 flex-direction: column; 
 padding: 1.5em; 
 
}

.socialMedia{
    fill: black;
  }

.socialMedia a:hover {
    fill: red;
  }

.Introtxt{
width: 17em;
}
.socialIcon{
    width: 30px;
    border-radius: 50%;
    padding: 0.5em;
}

.flex-container{
    
    padding: 10px;
    justify-content: flex-end;
    
}

.pic1{
width: 250px;
height: 250px;
border-radius: 50%;
padding: 0em 3em 3em 0em ;
margin: 0em 0em 0em 6em;
}



/*SECTION-ABOUT*/

.about{
    background-color: black;
    padding:  2.5em 4em 0em 4em;
    
}

.pic2{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    }

aside{
    width: 23em;
}
