@import url("./about.css");
@import url("./skills.css");

html{
    scroll-behavior: smooth;
}

body{
    
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02rem;
    color: white;
    margin: 0em;
    background-color: rgb(255, 255, 255);
}

a{
    color: white;
    font-weight: 300;
    font-size: 14px;
}

h1{
    font-weight: 900;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

h2{
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 0;
    
}

h3{
    font-weight: 500;
}

p{
    font-weight: 300;
    font-size: 14px;
}

hr{
    width: 25%;
    color: #831a1a;
}

button{

}

/* GENERAL STYLE INDIVIDUAL */


.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.align-vert{
align-items: center;
}

.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.center{
    justify-content: center;
}

.p_auto{
    padding: auto;
}


.txt-left{
    text-align: left;
}

.txt-center{
    text-align: center;
}

.marg-Bottom-2{
    margin-bottom: 2em;
}

.marg-Bottom-4{
    margin-bottom: 4em;
}

.marg-Bottom-8{
    margin-bottom: 8em;
}

.normal-button{
    width: 10em;
    height: 3em;
    background-color:  #831a1a;
    border-radius: 10px;
    border-style: none;
    color: white;
    cursor: pointer;
}
.wrap{
    flex-wrap: wrap;
}
.cursor{
    cursor: pointer;
}

/*SECTION-HOME*/


.home{
    background: rgb(0,0,0);
    background: linear-gradient(315deg, rgba(0,0,0,1) 0%, rgb(34, 34, 34) 35%, #831a1a 100%);
    width: 100%;
    height: 35em;
    padding:  5em 0em 0em 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navheader a{
    margin: 10px;
    text-align: center;
    text-decoration: none;
    
}
.navheader a:hover {
    color:#9b1e1e;
}

nav{
justify-content: space-between;
padding: 0.8em 2em 0.8em 2em;
margin-top: 1em;

}

.luna{
    margin: -0.4em 0em 0em 0em;
}

.icon{
width: 30px;
}

.logo{
    width: 200px;
    align-items: center;
}

.Introtxt{
width: 17em;
margin-right: 4em;
}

.socialIcon{
    width: 30px;
    padding: 0.5em 2em 0.5em 0.5em; 
}

.socialIcon:hover path {
    fill: #9b1e1e !important; 
  }

  .socialIcon path {
    transition: .5s ease-out; 
  }

.flex-container{
    
    padding: 10px;
    justify-content: flex-end;
    
}

.pic1{
width: 250px;
height: 250px;
border-radius: 50%;
padding: 0em 3em 3em 0em ;
margin: 0em 0em 0em 4em;
}






