@import url("./about.css");


body{
    
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02rem;
    color: white;
    margin: 0em;
    background-color: black;
}

a{
    color: white;
    font-weight: 300;
    font-size: 14px;
}

h1{
    font-weight: 900;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

h2{
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 0;
    
}

h3{
    font-weight: 500;
}

p{
    font-weight: 300;
    font-size: 14px;
}

hr{
    width: 25%;
    color: #831a1a;
}

button{
    width: 10em;
    height: 3em;
    background-color:  #831a1a;
    border-radius: 10px;
    border-style: none;
    color: white;
    cursor: pointer;
}

/* GENERAL STYLE INDIVIDUAL */


.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.align-vert{
align-items: center;
}

.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.center{
    justify-content: center;
}

.p_auto{
    padding: auto;
}


.txt-left{
    text-align: left;
}

.txt-center{
    text-align: center;
}

.marg-Bottom-2{
    margin-bottom: 2em;
}

.marg-Bottom-4{
    margin-bottom: 4em;
}

.marg-Bottom-8{
    margin-bottom: 8em;
}


/*SECTION-HOME*/


.home{
    background: rgb(0,0,0);
    background: linear-gradient(315deg, rgba(0,0,0,1) 0%, rgb(34, 34, 34) 35%, #831a1a 100%);
    width: 100%;
    height: 35em;
    padding:  5em 0em 0em 0em;
}
.navheader a{
    margin: 10px;
    text-align: center;
    text-decoration: none;
    
}
.navheader a:hover {
    color: red;
}

nav{
justify-content: space-between;
padding: 0.8em 2em 0.8em 2em;
margin-top: 1em;

}

section {
display: flex;
flex-wrap: wrap;
justify-content: center;
    
}

.luna{
    margin: -0.4em 0em 0em 0em;
}

.icon{
width: 30px;
border-radius: 50%;
}

.logo{
    width: 200px;
    align-items: center;
}







.Introtxt{
width: 17em;
margin-right: 4em;
}

.socialIcon{
    width: 30px;
    padding: 0.5em 2em 0.5em 0.5em; 
}

.socialIcon:hover path {
    fill: #9b1e1e !important; 
  }

  .socialIcon path {
    transition: .3s ease-out; 
  }

.flex-container{
    
    padding: 10px;
    justify-content: flex-end;
    
}

.pic1{
width: 250px;
height: 250px;
border-radius: 50%;
padding: 0em 3em 3em 0em ;
margin: 0em 0em 0em 4em;
}



/*SECTION-ABOUT*/

.about{
    background-color: black;
    padding:  2.5em 10em 0em 10em;
    
}

.pic2{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 0em 4em 0em 0em;
    padding: 0em;
    }

aside{
    width: 23em;
}

a{font-weight:300; color:#fff; text-decoration:none; font-size: 14px;}
.centered{position:relative}
.h-button{background:#831a1a;padding: 10px 40px;text-align:center; border-radius: 10px;}
.h-button span{display:inline-block;min-width:.3em;text-transform:uppercase;transition:.25s cubic-bezier(0.5,-1,.5,2);opacity:0;transform:translate(0,-20px)}
.h-button:before{content:attr(data-text);position:absolute;width:100%;left:0;transition:.25s cubic-bezier(0.5,-1,.5,2);text-transform:uppercase;opacity:1;transform:translate(0,0)}
.h-button:focus:before,.h-button:hover:before{opacity:0;transform:translate(0,20px)}
.h-button:focus span,.h-button:hover span{opacity:1;transform:translate(0,0)}
.h-button:focus span:nth-child(1),.h-button:hover span:nth-child(1){transition-delay:.025s}
.h-button:focus span:nth-child(2),.h-button:hover span:nth-child(2){transition-delay:.05s}
.h-button:focus span:nth-child(3),.h-button:hover span:nth-child(3){transition-delay:.075s}
.h-button:focus span:nth-child(4),.h-button:hover span:nth-child(4){transition-delay:.1s}
.h-button:focus span:nth-child(5),.h-button:hover span:nth-child(5){transition-delay:.125s}
.h-button:focus span:nth-child(6),.h-button:hover span:nth-child(6){transition-delay:.15s}
